{% extends 'base.html' %} 
{% block content%}
<!--  End of Welcome nav bar -->

<!--  Content -->

<h1><u><b><center>Edit Category</center></b></u></h1>

<div class="border">
  <div class="container">
  
      <hr>
      <h3><b><center>Edit Category</center></b></h3>
      <form  method="POST" class="example" action="">
        {% csrf_token %}
        <input type="text"  name="category" placeholder="{{cedit.category}}" required>
        
        <button type="submit">Edit</button>
      </form>
    </div>
  </div>    
</div>
</body>
{%endblock%}