{% extends 'base.html' %} 
{% block content%}
<div class="mb-3 mt-3 pt-5 pb-5 card">
<h3><b><center>Add Category</center></b></h3>
<form  method="POST" class="needs-validation" novalidate>
  {% csrf_token %}
  <div class="col-md-8 mb-3 offset-md-2">
    <label for="validationCustom03"><strong>Category <span class="red">*</span></strong></label>
    <input type="text" class="form-control" id="validationCustom03" placeholder="Category" name="category" required>
    <div class="invalid-feedback">
        Please provide a valid category name.
 </div>
 <br/>
  <button class="btn btn-success" id="load" type="submit">
    <span id="gif"></span>
    ADD
  </button>


</div>
</form>
</div>
{%endblock%}