{% extends 'base.html' %} 
{% block content%}
<!--  End of Welcome nav bar -->


<!--  Content -->

<h1><u><b><center>Center</center></b></u></h1>

<div class="border">
  <div class="input-group">
    <form class="form-inline my-2 my-lg-1">
      <div class="input-group">
        {% if search_term %}
        <input class="form-control mr-sm-2" type="search" placeholder="{{search_term}}" aria-label="Search" name=search>
        <div class="input-group-addon">
          <button type="submit" class="fabutton">
         <i class="fa fa-close">
         </i>
         </button>
         {%else%}
         <input class="form-control mr-sm-2" type="search" placeholder='search' aria-label="Search" name=search>
         <div class="input-group-addon">
          <button type="submit" class="fabutton">
         <i class="fa fa-search">
        </i>
        </button>
        {%endif%}
      
    </div>
  </div>

    </form>      
  </div>
  <div class="row">
    <div class="column" style="background-color:#dde;">
      <br>
      <h3><b><center>Add Center</center></b></h3>
      
      <form  method="POST" id="subform" class="example" novalidate>
        {% csrf_token %}
        <label>Center Code</label>
        <input type="number" placeholder="Center Code" name="code" min="99999" required>
        <label>Center Name</label>
        <input type="text" placeholder="Center Name" name="name" required><br>
        <label>Address</label>
        <textarea  placeholder="Address" name="address" rows="2" cols="40" required></textarea>
        <label>Email</label>
        <input type="email" placeholder="Email" name="email" required>
        <label>User Name</label>
        <input type="text" placeholder="User Name" name="user" required>
        <label>Password</label>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">ADD</button>
      </form>
      <hr>
      <div>
           


        <div class="col-md-6 col-md-offset-3">
            <!-- Nav tabs -->
            <ul id="tabs" class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#all" role="tab" data-toggle="tab">All</a></li>
              <li role="presentation"><a href="#online" role="tab" data-toggle="tab">Online</a></li>
              <li role="presentation"><a href="#offline" role="tab" data-toggle="tab">Offline</a></li>
            </ul>
            
            <div class="tab-content">
                {% if 'online' in url%}
              <div role="tabpanel" class="tab-pane fade in active" id="all">All content</div>
              {%else%}
              <p >asdh</p>
              {% endif %}
              <div role="tabpanel" class="tab-pane fade in " id="online">Online content</div>
              <div role="tabpanel" class="tab-pane fade" id="offline">Offline content</div>
            </div>
              
            </div>
          <table class="table table-striped" id="myTable">
            <thead>
              <tr>
              
                <th onclick="sortTable(0)">Center Name <i class="fa fa-sort"></i></th>
                <th onclick="sortTable(1)">Center Code <i class="fa fa-sort"></i></th>
                <th onclick="sortTable(2)">Email <i class="fa fa-sort"></i></th>
                <th onclick="sortTable(3)">User Name <i class="fa fa-sort"></i></th>
                <th>Status</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% for cen in center %}
              <tr>
                {% if cen.status == True %}
                <td>{{cen.Name}}</td>
                <td>{{cen.center_code}}</td>
                <td>{{cen.Email}}</td>
                <td>{{cen.Username}}</td>
                <td><a href="{% url 'centerstat' cen.center_code %}">
                  <button class="btn btn-danger" type="submit"><i class="fa fa-eye-slash"> </i> &nbsp; Deactivate</button> </a></td>>
                <td><a href="{% url 'center_edit' cen.center_code %}" <button class="btn btn-info"> <i class="fa fa-edit"> </i> Edit</button></a> &nbsp; <a href="{% url 'center_delete' cen.center_code %}"> <button  type="submit" class="btn btn-danger" name="delete"><i class="fa fa-trash-o"> </i> Delete</button></a></td>
                {% else %}
                <td>{{cen.Name}}</td>
                <td>{{cen.center_code}}</td>
                <td>{{cen.Email}}</td>
                <td>{{cen.Username}}</td>
                <td><a href="{% url 'centerstat' cen.center_code %}">
                  <button class="btn btn-success" type="submit"><i class="fa fa-eye-slash"> </i> &nbsp; Activate</button> </a></td>>
                <td><a href="{% url 'center_edit' cen.center_code %}" <button class="btn btn-info"> <i class="fa fa-edit"> </i> Edit</button></a> &nbsp; <a href="{% url 'center_delete' cen.center_code %}"> <button  type="submit" class="btn btn-danger" name="delete"><i class="fa fa-trash-o"> </i> Delete</button></a></td>
                
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="row">
						<div class="col-12">
					{% if Subject.has_other_pages %}
					<div class="pagination text-center">                
						<nav class="pagination__nav clearfix">
							{% if Subject.has_previous %}
							<a href="?page={{Subject.previous_page_number}}" class="pagination__page"><i class="ui-arrow-left"></i></a>
							{% else %}
							<a class="pagination__page disabled"><i class="ui-arrow-left"></i></a>
							{% endif %}
							{% for i in Subject.paginator.page_range %}
								{% if Subject.number == i %}
									<span class="pagination__page pagination__page--active">{{i}}</span>
								{% else %}
							<a href="?page={{i}}" class="pagination__page">{{i}}</a>
								{% endif %}
							{% endfor %}
							{% if Subject.has_next %}
							<a href="?page={{Subject.next_page_number}}" class="pagination__page"><i class="ui-arrow-right"></i></a>
							{% else %}
							<a class="pagination__page disabled"><i class="ui-arrow-right"></i></a>
							{% endif %}
						</nav>
					</div>
					{% endif %}
					</div>
					</div>
        
      </div>    
    </div>
  </div>    
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
 $("#cat").change(function () {
    var url = $("#subform").attr("data-cities-url"); 
    var categoryId = $(this).val();  

    $.ajax({                       
      url: url,                    
      data: {
        'category': categoryId    
      },
      success: function (data) { 
        $("#sub").html(data);  
      }
    });

  });

</script>
{%endblock%}