{% extends 'base.html' %} 
{% block content%}
<!--  Content -->
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">
  <a href="{% url 'category' %}">
    <h2><center><i class="fa fa-home fa-fw" aria-hidden="true"></i><br>Category</center></h2>
  </a>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">
  <a href="{% url 'sub_category' %}">
    <h2><center><i class="fa fa-home fa-fw"></i><br>Sub Category</center></h2>
    </a>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

  <a href="{% url 'subject'%}">
    <h2><center><i class="fa fa-envelope fa-fw"></i><br> Subject</center></h2>
  </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

    <a href="{% url 'center' %}">

      <h2><center><i class="fa fa-support fa-fw"></i><br>Center</center></h2>
  </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

   <a href="{% url 'student'%}">
    <h2><center><i class="fa fa-users fa-fw"></i><br>Student</center></h2>
  </a>
</div>
</div>

<br />
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">
  <a href="{% url 'exam'%}">
    <h2><center><i class="fa fa-envelope fa-fw"></i> <br>Exam</center></h2>
  </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

  <a href="{%url 'question' %}">
    <h2><center><i class="fa fa-comments-o fa-fw"></i><br>Question</center></h2>
  </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

  <a href="">
    <h2><center><i class="fa fa-wrench fa-fw"></i><br> Settings</center></h2>
  </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

    <a href="">
    <h2><center><i class="fa fa-envelope fa-fw"></i><br>Notice</center></h2>
  </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3" style="background-color:#aaa;margin-right: 30px;">

   <a href="">
    <h2><center><i class="fa fa-comments-o fa-fw"></i><br>View Result</center></h2>
  </a>
</div>
</div>




{% endblock %}