{% extends 'base.html' %} 
{% block content%}

<h1><u><b><center>Confirm Delete Category</center></b></u></h1>

<div class="border">
  <div class="container">
  
      <hr>
      <div  style="display: flex;">
          <h3>Category: &nbsp; &nbsp; {{sdelete.category}}  &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;</h3>
          <h3>Name: &nbsp; &nbsp; {{sdelete.sub_category}}  &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;</h3>
          <h3>Date: &nbsp; &nbsp; {{sdelete.date_created}}   &nbsp;&nbsp;&nbsp;   &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;</h3>
          <form  method="POST"  action="">
            {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>    
    </div>
  </div>    
</div>
</body>
{%endblock%}