{% extends 'base.html' %} 
{% block content%}
<h1><u><b><center>Edit Subject</center></b></u></h1>

<div class="border">
  <div class="container">
  
      <hr>
      <h3><b><center>Edit Subject</center></b></h3>
      <form  method="POST" action="">
        {% csrf_token %}
        <div class="input-group">
            <select class="custom-select col-4" name="sub_category" aria-label="Example select with button addon">
                <option selected>Sub Category</option>
                {% for sub_categorie in categories %}
                <option value="{{sub_categorie.id}}">{{sub_categorie.sub_category}}</option>
                {% endfor %}
            </select>
            </div>
        <input type="text" placeholder="Sub category" name="subject" required>
        <button type="submit">Edit</button>
        </form>
    </div>
  </div>    
</div>
</body>
{% endblock %}