{% extends 'base.html' %} 
{% block content%}
<h1><u><b><center>Sub category</center></b></u></h1>

<div class="border">
  <div class="input-group">
    <form class="form-inline my-2 my-lg-1">
      <div class="input-group">
        {% if search_term %}
        <input class="form-control mr-sm-2" type="search" placeholder="{{search_term}}" aria-label="Search" name=search>
        <div class="input-group-addon">
          <button type="submit" class="fabutton">
         <i class="fa fa-close">
         </i>
         </button>
         {%else%}
         <input class="form-control mr-sm-2" type="search" placeholder='search' aria-label="Search" name=search>
         <div class="input-group-addon">
          <button type="submit" class="fabutton">
         <i class="fa fa-search">
        </i>
        </button>
        {%endif%}
        
      
    </div>
  </div>

    </form>      
  </div>
  <div class="row">
    <div class="column" style="background-color:#dde;">
      <br>
      <h3><b><center>Add Student</center></b></h3>
      <form  method="POST" class="example" action="">
        {% csrf_token %}
        <div class="input-group">
          
            <select class="custom-select col-4" name="category" aria-label="Example select with button addon">
              <option selected>Category</option>
              {% for categorie in categories %}
              <option value="{{categorie.id}}">{{categorie.category}}</option>
              {% endfor %}
            </select>
            <select class="custom-select col-4" name="center" aria-label="Example select with button addon">
                <option selected>Center</option>
                {% for c in center %}
                <option value="{{c.center_code}}">{{c.Name}}</option>
                {% endfor %}
              </select>
          </div>
          <label>Student Name</label>
          <input type="text" placeholder="Name" name="name" required>
          <label>Father Name</label>
          <input type="text" placeholder="Father Name" name="fname" required><br>
          <label>Mother Name</label>
          <input type="text" placeholder="Mother Name" name="mname" required><br>
          <label>Date Of Birth</label>
          <input type="date" placeholder="" name="date" required><br>
          <label>Address</label>
          <textarea  placeholder="Address" name="address" rows="2" cols="40" required></textarea>
          <label>Phone</label>
          <input type="text" placeholder="9998887776" name="phone" required><br>
          <label>Email</label>
          <input type="email" placeholder="Email" name="email" required>
          <label>Password</label>
          <input type="password" placeholder="Password" name="password" required>
          <button type="submit">ADD</button>
      </form>
      <hr>
      <div>
             
          <table class="table table-striped" id="myTable">
            <thead>
              <tr>
              
                <th onclick="sortTable(0)">Category Name <i class="fa fa-sort"></i></th>
                <th onclick="sortTable(1)">Center Name <i class="fa fa-sort"></i></th>
                <th onclick="sortTable(2)">Student Name <i class="fa fa-sort"></i></th>
                <th onclick="sortTable(3)">Father Name <i class="fa fa-sort"></i></th>
                <th>Status</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              {% for std in student %}
              <tr>
                {% if std.status == True %}
                <td>{{std.category}}</td>
                <td>{{std.center}}</td>
                <td>{{std.Name}}</td>
                <td>{{std.father_name}}</td>

               
                <td><a href="">
                  <button class="btn btn-danger" type="submit"><i class="fa fa-eye-slash"> </i> &nbsp; Deactivate</button> </a></td>
              
                <td><a href="" <button class="btn btn-info"> <i class="fa fa-edit"> </i> Edit</button></a> &nbsp; <a href=""> <button  type="submit" class="btn btn-danger" name="delete"><i class="fa fa-trash-o"> </i> Delete</button></a></td>
                {% else %}
                <td>{{std.category}}</td>
                <td>{{std.center}}</td>
                <td>{{std.Name}}</td>
                <td>{{std.father_name}}</td>

               
                <td><a href=""><button class="btn btn-success" name="activate" type="submit"><i class="fa fa-eye"> </i> &nbsp; Activate&nbsp;</button></a></td>
                <td><a href="" <button class="btn btn-info"> <i class="fa fa-edit"> </i> Edit</button></a> &nbsp; <a href=""> <button  type="submit" class="btn btn-danger" name="delete"><i class="fa fa-trash-o"> </i> Delete</button></a></td>
                {% endif %}

              </tr>
              {% endfor %}
            </tbody>
          </table>


          <div class="row">
						<div class="col-12">
					{% if sub_categories.has_other_pages %}
					<div class="pagination text-center">                
						<nav class="pagination__nav clearfix">
							{% if sub_categories.has_previous %}
							<a href="?page={{sub_categories.previous_page_number}}" class="pagination__page"><i class="ui-arrow-left"></i></a>
							{% else %}
							<a class="pagination__page disabled"><i class="ui-arrow-left"></i></a>
							{% endif %}
							{% for i in sub_categories.paginator.page_range %}
								{% if sub_categories.number == i %}
									<span class="pagination__page pagination__page--active">{{i}}</span>
								{% else %}
							<a href="?page={{i}}" class="pagination__page">{{i}}</a>
								{% endif %}
							{% endfor %}
							{% if sub_categories.has_next %}
							<a href="?page={{sub_categories.next_page_number}}" class="pagination__page"><i class="ui-arrow-right"></i></a>
							{% else %}
							<a class="pagination__page disabled"><i class="ui-arrow-right"></i></a>
							{% endif %}
						</nav>
					</div>
					{% endif %}
					</div>
					</div>
        
      </div>    
    </div>
  </div>    
</div>
</body>
{%endblock%}
